# OS
.DS_STORE
#  terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
secrets.auto.tfvars
# editors
.vscode/
.idea
*.iml
# envs
.env
venv/
env/
# Ignore zip & tars
*.zip
*.tar.gz
# Ignore code coverage files
code-coverage.out
# Ignore build folders
builds/**
# Ignore todo / temp files
todo.txt
scratch.txt
