name: "[TEST] Go code"

on:
  workflow_dispatch:
  workflow_call:

permissions:
  actions: read


jobs:
  test_go_code:
    name: "Run Go Tests"
    runs-on: ubuntu-latest
    steps:
      # checkout self
      - name: "Checkout"
        id: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          fetch-tags: true
      # setup the go version and pull from cache etc
      - name: "Setup go"
        id: setup_go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          cache: false
          go-version-file: './go.mod'
      # run tests
      - name: "Run tests"
        id: run_tests
        shell: bash
        run: |
          go mod tidy
          go test -count=1 -cover -covermode=atomic ./...
